* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --accent-color: #5ece7b;
}
body {
  font-family: "Raleway", sans-serif;
}
.active {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}
